@charset "windows-1251";
/* CSS Document */
* {margin:0; padding:0;}
img {border:none;}
body {}

.all { margin:0 auto;}
div.header {}


div.blok { margin:0 auto; width:660px; font-family:arial; font-size:12px;}
div.blok table.table1 {width:660px; margin:15px 0;}
div.blok table.table2 {width:560px; margin:15px 0;}
div.blok table td { padding:3px 7px; width:32%; vertical-align:top;}
div.blok table label { display:block;color:#3693bc;}
div.blok input.pole, div.blok  select, div.blok textarea {color:#000; font-size:12px; font-family:arial;border:1px solid #a5acb2; background:#fff;}
div.blok .w100 { width:100%;}
div.blok .w110 { width:110px;}
div.blok div.bl {float:left; margin-right:13px;}
div.blok div.row {float:left; width:100%; margin-bottom:10px;}
div.blok span.myspan {color:#606060;}

div.blok div.b-rasch {float:left; width:100%; background:#f9f9f9; border-top:1px solid #dddddd; padding:5px 0; margin:5px 0 15px;}
div.blok div.b-rasch input.but { background:url(../img/but-raschet.jpg) no-repeat; width:92px; height:28px; cursor:pointer; border:none; margin-left:5px;}


div.blok div.b-gray { background:#dddddd; float:left; width:640px; padding:10px;color:#be5325;}
div.blok div.b-gray  table label {color:#be5325;}
div.blok div.b-gray div.left {float:left; width:48%;}
div.blok div.b-gray div.right {float:right; background:#fff; padding:5px; width:48%;}

div.blok div.table-tarif {float:left; position:relative; font-size:15px;color:#757575; width:100%; margin:15px 0;}
div.blok div.table-tarif div.pol1 {top:0; left:130px; z-index:2; position:absolute; height:100%; width:1px;border-left:1px solid #dddddd;}
div.blok div.table-tarif div.pol2 {top:0; left:310px; height:100%; z-index:2; position:absolute; width:1px;border-left:1px solid #dddddd;}
div.blok div.table-tarif div.row-th {float:left; font-size:16px; width:100%;}
div.blok div.table-tarif div.row-th div.td1 {float:left; height:30px; padding:0 15px; width:100px;}
div.blok div.table-tarif div.row-th div.td2 {float:left;  width:150px; padding:0 15px;}
div.blok div.table-tarif div.row-th div.td3 { margin-left:330px;color:#478abc; font-weight:bold;}

div.blok input.error , div.blok select.error {
	border-color: red;
}
#smartpolis_contact_form, #smartpolis_message_before_form, #smartpolis_order_form {
	display:none;
}
#smartpolis_order_form {
	background: none repeat scroll 0 0 white;
	border: 1px solid black;
	position: absolute;
	z-index: 10;
}

div.blok div.table-tarif div.row {float:left; margin:10px 0 0;border:1px solid #dddddd; position:relative; padding:2px; border-radius:5px; width:100%;
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: #ffffff; /* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background: -moz-linear-gradient(top,  #ffffff 0%, #f2f2f2 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ffffff), color-stop(100%,#f2f2f2)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #ffffff 0%,#f2f2f2 100%); /* IE10+ */
background: linear-gradient(to bottom,  #ffffff 0%,#f2f2f2 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f2f2f2',GradientType=0 ); /* IE6-8 */

}
div.blok div.table-tarif div.row a.but {float:right; margin-right:10px; background:url(../img/sale-but.jpg) no-repeat; width:169px; height:28px; position:relative;top:-5px;}
div.blok div.table-tarif div.td1 {}
div.blok div.table-tarif div.td2 { color:#7f7f7f;}
div.blok div.table-tarif div.td3 { margin-left:330px;}
div.blok div.table-tarif div.row div.td1 {float:left; padding:0 15px 0; width:100px;}
div.blok div.table-tarif div.row div.td2 {float:left;  width:150px; padding:20px 15px 0;}
div.blok div.table-tarif div.row div.td3 { margin-left:330px;font-weight:bold; padding:20px 0 0;color:#44a621;}

